<div class="container">
  <div class="row">
    <div class="card col m6 s12">
      <div class="card-content">
        <div class="card-title">새 글 작성하기</div>
        <%= form_tag posts_path, multipart: true do %>
          <span class="card-image">
          <%= react_component('PostImageUpload') %>
          </span>

          <div class="input-field">
            <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "마음을 전달해 보세요" %>
          </div>

          <div class="input-field">
            <%= button_tag "작성하기", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
