// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pre-line {
  white-space: pre-line;
}

#modal1 {
  .card-content {
    .container {
      .row {
        .card {
          .card-image {
            .previewComponent {
              .imgPreview {
                max-width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

.modal {width: 50% !important; max-height: 100% !important;}



.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
    .btn {
      margin: 10px 0;
    }
    .content {
      margin: 10px 0;
      .card-image {
        height: 30px 0;
        img {
          padding: 10px 0;
        }

      }
    }
  }
}
